/* You can add global styles to this file, and also import other style files */
.pointer {
    cursor: pointer;
}
pre {
    display: block;
    font-size: 87.5%;
    padding: 5px;
    color: #ffff!important;
    background-color: #000!important;
}